 
.body {
  background-color: #F8F8F8 !important;

}

.header-bar{
  margin-top: 10px;
  background-color: #DDDDDD !important;
  border: 1px solid #CCCCCC !important;
  /*border-radius: 3px;*/
  text-align: center;
  /*padding-right: 10px !important;*/
}

.filter-bar {
  margin-top: 10px;
  background-color: #EEEEEE !important;
  border: 1px solid #CCCCCC !important;
  border-radius: 3px;
  width: 100%;
  color: #696969;
  font-size: 12px;
}

.filter-by-course{
  margin-left: 10px; 
}
.filters {
  padding: 10px;
}

.container {
  width: 98% !important;

}

.container-fluid {
  width: 100% !important;
}

.title {
  /*padding-top: 7px;*/
  text-transform: uppercase;
  /*color: #383838;*/
  font-size: 13px;
  text-transform: full-width;
}

.title-bar {
  background-color: #DDDDDD !important;
  border-bottom: 1px solid #CCCCCC !important;
  /*font-weight: bold;*/
  color: #696969;
  text-align: center;
  padding: 5px;
}

.course-well{
  max-height: 80px;
  width: 100%;
  overflow: scroll; 
}

.well{
  margin-bottom: 5px !important;
}

li {
  list-style-type: none;
  padding-left: 0px !important;
}

ul {
  padding-left: 0px !important;
}

.d3 {
  margin-top: 10px;
  background-color: #FFFFFF !important;
  border: 1px solid #CCCCCC !important;
  border-radius: 3px;
}